In [1]:
import pandas as pd
import numpy as np

# These were the tools that i used to scrap dataset
# import requests
# from selenium import webdriver
# from selenium.webdriver.chrome.service import Service
# from webdriver_manager.chrome import ChromeDriverManager
# from time import sleep
# from bs4 import BeautifulSoup
# import re

import warnings
warnings.filterwarnings('ignore')
# import pprint

# Framing the dataset â†µ

In [2]:
earnings = pd.read_csv("/home/abhishek/Documents/DataSets/Indian companies by earnings.csv")
market_cap = pd.read_csv("/home/abhishek/Documents/DataSets/Indian companies by market capitalization.csv")
employees = pd.read_csv("/home/abhishek/Documents/DataSets/Indian companies by number of employees.csv")
margin = pd.read_csv("/home/abhishek/Documents/DataSets/Indian companies by operating margin.csv")
p_e_ratio = pd.read_csv("/home/abhishek/Documents/DataSets/Indian companies by P_E ratio.csv")
revenue = pd.read_csv("/home/abhishek/Documents/DataSets/Indian companies by revenue.csv")

#### we need do sort our data because we have 6 different dataset, they have all same expect one column and these column ordered in rank so we have to order them into name in alphabetical format

In [3]:
def sorting(data):
    sorted = data.sort_values('Name', ascending=True)
    return sorted

earnings_sorted = sorting(earnings)
market_cap_sorted = sorting(market_cap)
employees_sorted = sorting(employees)
margin_sorted = sorting(margin)
pe_ratio_sorted = sorting(p_e_ratio)
revenue_sorted = sorting(revenue)

In [10]:
earnings_dropped.head()

             Name  earnings_ttm  price (USD)
282      3M India    49029800.0       282.94
488   3i Infotech    -5881070.0         0.54
213     ABB India    97318100.0        28.88
92            ACC   313153000.0        27.12
395  AGC Networks    15163000.0        12.11

### Removing extra feature

In [4]:
def drop(data):
    dropped = data.drop(['Rank', 'Symbol', 'country','Name','price (USD)'], axis = 1)
    return dropped

earnings_dropped = earnings_sorted.drop(['Rank', 'Symbol', 'country'], axis=1)
market_cap_dropped = drop(market_cap_sorted)
employees_dropped = drop(employees_sorted)
margin_dropped = drop(margin_sorted)
pe_ratio_dropped = drop(pe_ratio_sorted)
revenue_dropped = drop(revenue_sorted)

#### Merging the dataset

In [25]:
# frames =[earnings_dropped, margin_dropped, market_cap_dropped, employees_dropped, margin_dropped, pe_ratio_dropped, revenue_dropped]
df = pd.concat([earnings_dropped, margin_dropped, market_cap_dropped, employees_dropped, pe_ratio_dropped, revenue_dropped], axis=1, join='inner')

# Analysis

In [30]:
df.head()

,Name,earnings_ttm,price (USD),operating_margin_ttm,marketcap,employees_count,pe_ratio_ttm,revenue_ttm
282,3M India,49029800.0,282.94,1109.82,880006185,2165,33.7608,433528750
488,3i Infotech,-5881070.0,0.54,NaN,126138702,164,-11.5618,73731558
213,ABB India,97318100.0,28.88,1464.30,2018822251,3271,21.9620,764903864
92,ACC,313153000.0,27.12,2288.80,6148951320,10758,9.7500,2307769270
395,AGC Networks,15163000.0,12.11,497.45,290037671,1006,71.5417,209070387

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 535 entries, 282 to 519
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Name                  535 non-null    object
 1   earnings_ttm          535 non-null    float64
 2   price (USD)           535 non-null    float64
 3   operating_margin_ttm  481 non-null    float64
 4   marketcap             535 non-null    int64
 5   employees_count       535 non-null    int64
 6   pe_ratio_ttm          535 non-null    float64
 7   revenue_ttm           535 non-null    int64
dtypes: float64(4), int64(3), object(1)
memory usage: 37.6+ KB