Programming Task   

- Do NOT use `print()` in the final version of the assignment unless you are explicitly asked to do so
- Make sure your answers are direct and easy to read
- Marks will be deducted for not following instructions

---

**Problem 1** - Reading and describing data 



**Q1**. Read the **modified** credit card dataset provided in the **assignment_data** folder contained in the assignment zip file
- Name your DataFrame `df`  
- Rename the columns 'PAY_0' and 'default payment next month' as in Programming Task 1 
- Delete 'ID' column

In [8]:
pd.set_option('display.max_column', 100, 'display.max_row', 1000)

In [23]:
import pandas as pd
df = pd.read_excel(r'/home/abhishek/Documents/Frelancing/credit_card_defaults.xlsx')

# renaming the columns 'PAY_0' and 'default payment next month' as in Programming Task 1
df = df.rename(columns={'PAY_0': 'PAY_1', 'default payment next month': 'payment_default'})

#delete 'ID' column
df.drop(['ID'], axis=1, inplace = True)

df.shape

(10001, 24)

In [22]:
df.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,payment_default
0,20000.0,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,-2.0,-2.0,3913.0,3102.0,689.0,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0,1
1,120000.0,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,0.0,2.0,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000,1
2,90000.0,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,0.0,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000,0
3,50000.0,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,0.0,0.0,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000,0
4,50000.0,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,0.0,0.0,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679,0

In [33]:
df.MARRIAGE.value_counts()

In [31]:
len(df.MARRIAGE.value_counts())

4

<hr style="width:25%;margin-left:0;"> 

**Q2**. Explain which features are numeric, ordinal, and nominal variables, and how many features of each variable type there are in the dataset
- To answer this question look at the data itself and consider the definitions of the variables (provided elsewhere in course material)
- Your final answer should consist of text only and not contain any python code

---- provide your text answer here ----
LIMIT_BAL - ordinal 1
SEX - nominal 1
EDUCATION = ordinal 2

<hr style="width:25%;margin-left:0;"> 

**Q3.** Describing the dataset. 

- Print `info()` and comment on the missing values in the dataset

In [17]:
# ---- provide your code here -----

---- provide your text answer here ----

---
---

**Problem 2.** Cleaning data and dealing with categorical features

**Q1.** 
- Use an appropriate `pandas` function to impute missing values 
    - Be careful when deciding which method to use to replace missing observations 
    - Take into consideration the type of each variable and the best practices we discussed in class/lecture notes
- Explain what you have done and why

In [18]:
# ---- provide your code here -----

---- provide your text answer here ----

<hr style="width:25%;margin-left:0;"> 

**Q2**. 
- Print `value_counts()` of 'SEX' column and add dummy variables 'SEX_MALE' and 'SEX_FEMALE' to the `df` using `get_dummies()` 
- Carefully explain how the dummy variables are constructed 
- Delete the variable 'SEX' from `df`

In [16]:
# ---- provide your code here -----

---- provide your text answer here ----

<hr style="width:25%;margin-left:0;"> 

**Q3**. Print `value_counts()` of 'MARRIAGE' column and *carefully* comment on what you notice in relation to the definition of this variable.

In [19]:
# ---- provide your code here -----

---- provide your text answer here ----

<hr style="width:25%;margin-left:0;"> 

**Q4**. 

- Apply `get_dummies()` to 'MARRIAGE' feature and add dummy variables 'MARRIAGE_MARRIED', 'MARRIAGE_SINGLE', 'MARRIAGE_OTHER' to `df`.   
- Carefully consider how to allocate all values of 'MARRIAGE' across the 3 newly created features    
    - Explain what decisions you had to make
- Delete 'MARRIAGE' from `df`

In [21]:
# ---- provide your code here -----

---- provide your text answer here ----

<hr style="width:25%;margin-left:0;"> 

**Q5**. In the column 'EDUCATION', convert the values {0, 4, 5, 6} into the value 4.

In [22]:
# ---- provide your code here -----

---
---

**Problem 3** Preparing X and y arrays

**Q1**. 

- Create `y` from the first 10,000 observations of 'payment_default' column from `df`    
- Create `X`  from the first 10,000 observations of all the remaining columns in `df`

In [23]:
# ---- provide your code here -----

<hr style="width:25%;margin-left:0;"> 

**Q2**. 

- Use an appropriate scikit-learn library we used in class to create `y_train`, `y_test`, `X_train` and `X_test` by splitting the data into 60% train and 40% test datasets  
    - Set random_state to 5 and stratify the subsamples so that train and test datasets have roughly equal proportions of the target's class labels 
- Standardise the data using `StandardScaler` library

In [24]:
# ---- provide your code here -----

---
---

**Problem 4**. Support Vector Classifier and Accuracies

**Q1**. 

- Train a Support Vector Classifier on standardised data 
    - Use `rbf` kernel and set `random_state` to 5 (don't change any other parameters)
- Compute and print training and test dataset accuracies

In [25]:
# ---- provide your code here -----

<hr style="width:25%;margin-left:0;"> 

**Q2.**

- Extract 2 linear principal components from the standardised features using an appropriate `sklearn` library 
- Train a Support Vector Classifier on the 2 principal components computed above    
    - Use `rbf` kernel and set `random_state` to 5 (don't change any other parameters)
- Compute and print training and test dataset accuracies

In [26]:
# ---- provide answer here -----

<hr style="width:25%;margin-left:0;"> 

**Q3**. 

- Compare and comment on the computed accuracies from the last two questions above
    - Make comparisons both within and across the two questions

---- provide your text answer here ----

---
---